name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install Dependencies
        run: npm install

      - name: Build Web Project
        run: |
          chmod +x node_modules/.bin/vite
          npm run build

      - name: Install Capacitor Android
        run: |
          npm install @capacitor/android
          npx cap add android || true
          npx cap sync android

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21' # Burayı 17'den 21'e yükselttik

      - name: Build APK with Gradle
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: bmw-sarj-uygulamasi # İndirilecek klasörün adı
          path: android/app/build/outputs/apk/debug/app-debug.apk